# =========================
# COMPILADOS DE JAVA
# =========================
*.class
*.log
*.jar

# =========================
# =========================
# COMPILADOS DE JAVA Y MAVEN
# =========================
*.class
*.log
*.jar
target/

# =========================
# CONFIGURACIONES DE IDEs
# =========================
# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/private/
nbproject/project.properties
nbproject/project.xml
nbactions.xml
nb-configuration.xml
dist/

# =========================
# SISTEMAS OPERATIVOS
# =========================
.DS_Store
Thumbs.db
.github/